:root {
            --primary-color: #4a90e2; /* آبی دلپذیر */
            --secondary-color: #50e3c2; /* سبز/تیل تازه */
            --dark-color: #333;
            --light-color: #f9f9f9;
            --text-color: #555;
            --font-primary: 'Poppins', sans-serif;
            --border-radius-base: 8px;
        }