
:root {
  --bg: #ffffff;
  --accent-2: #fcd980;
  --white: #ffffff;
  --radius: 41px;
  --container: 1440px;
}

* {
  font-family: "Poppins";
  color: black;
  line-height: 1.5;
  font-size: 16px;
  
}
html, body{
  overflow-x: hidden;
}
.menu-overlay.hidden {
    display: none;
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 2rem 8rem 0 8rem;
}

.btn {
  display: inline-block;
  background: var(--accent);
  color: var(--white);
  padding: 0.65rem 1.1rem;
  text-decoration: none;
  border-radius: 41px;
  font-weight: 600;
  transition: all 0.18s ease;
  border: 0;
}
.container h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #282938;
}
.btn-secondary {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.08);
  color: var(--white);
  margin-left: 30px;
}
nav {
  /* position: sticky; */
  top: 0;
  z-index: 2;
  backdrop-filter: blur(6px);
  background-color: #1c1e53;
}

nav .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  max-width: var(--container);
  margin: 0 auto;
  padding: 2rem 8rem 2rem 8rem;
}

nav .menu .menu-container {
  display: flex;
}
.logo {
  color: var(--white);
  font-weight: 800;
  letter-spacing: 0.6px;
  text-decoration: none;
  font-size: 1.15rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.15rem;
  margin: 0;
  padding: 0;
  align-items: center;
}

nav ul li a {
  color: var(--white);
  text-decoration: none;
  opacity: 0.85;
  padding: 0.45rem 0.5rem;
  transition: opacity 0.12s, transform 0.12s;
}

/*hero*/
.hero {
  background-color: #1c1e53;
  display: flex;
  align-items: center;
  padding: 7rem 0;
}

.hero .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
  align-items: center;
}

.hero-content {
  text-align: left;
  max-width: 582px;
}

.hero-content h1 {
  font-size: 56px;
  line-height: 1.2;
  font-weight: 600;
  padding-bottom: 24px;
  color: #fff;
}

.hero-content p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  padding-bottom: 48px;
  color: #ffffff;
  opacity: 0.7;
}

.hero-btn {
  display: inline-block;
  padding: 16px 56px;
  background: #fcd980;
  border-radius: 41px;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.3s ease;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #1b1c2b;
}

.hero-image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero-image img {
  width: 100%;
  max-width: 638px;
  height: auto;
  border-radius: 24px;
}

.app {
  color: black;
  padding: 4rem 0;
}

.app .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 42px;
}

.app-content {
  text-align: left;
  flex: 1;
}

.app-content p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #202020;
  opacity: 0.7;
}

.main-app-buttons {
  display: flex;
  gap: 24px;
  align-items: center;
}

.about {
  color: black;
  background-color: #f4f6fc;
  padding: 4rem 0;
}

.about .container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.about div p {
  font-style: normal;
  padding: 1rem 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
}

.about .about-content a {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #2405f2;
  text-decoration: none;
}

.about .about-content a span {
  padding-left: 4px;
  color: #f66329;
}

.cards_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  /* margin-top: 32px; */
  width: 666px;
  height: 433px;
}

.gallery {
  padding: 4rem 0;
}

.gallery .container {
  display: flex;
  flex-direction: column;
  /* margin: 2rem 0; */
}

.gallery .container .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: flex-end;
}
.gallery .content div p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
}

.gallery .container .paragraph {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex: 0 1 600px;
}

.container .content .link .view-more-link {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
}

.gallery .gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card1 .card2 {
  grid-row: span 2;
}

.card1 {
  background: linear-gradient(
    329.39deg,
    #1c1e53 -10.96%,
    rgba(28, 30, 83, 0.42) 103.96%
  );

  padding: 20rem 2rem 2rem 2rem;
}

.card2 {
  background: #f0f0f0;
  padding: 2rem;
}

.card3 {
  background: linear-gradient(
    329.39deg,
    #1c1e53 -10.96%,
    rgba(28, 30, 83, 0.42) 103.96%
  );
  padding: 12rem 1rem 4rem 1rem;
}

.card3-4 {
  display: grid;
  gap: 24px;
  margin-left: 24px;
}

.card4 {
  background-color: #f0f0f0;
  /* width: 355px; */
  height: 284px;
  padding: 2rem;
}

.container .link .learn-more {
  color: #fcd980;
  text-decoration: none;
}

.light-paragraph {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  opacity: 0.8;
  padding-bottom: 20px;
}

.card1 h2 {
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}

.card3 h2 {
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}

.features-card {
  background-color: #f4f6fc;
  padding: 4rem 0;
}

.features-card .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features-card .container .paragraph-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.features-card .container .paragraph-features p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #282938;
}

.features-card .container .paragraph-features h2 {
  text-align: center;
}

.features-cards-grid {
  display: flex;
  gap: 24px;
  padding: 16px;
}

.features-cards-grid .feature-card {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 16px;
  max-width: 450px;
}

.features-cards-grid .feature-card h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #282938;
}

.features-cards-grid .feature-card p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
}

.person {
  background: rgba(244, 246, 252, 0.5);
  padding: 4rem 0;
}

.person .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.person .container .person-slider {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.person .container .person-intro {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.person .container .person-intro h2 {
  /* font-size: 38px; */
  line-height: 56px;
}

.person .container .person-intro p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: #282938;
  opacity: 0.7;
}

.person .container .person-slider .person-slide {
  padding: 24px;
}

.person .container .person-slider .person-slide .figure .blockquote p {
  width: 750px;
  height: 240px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 48px;
  color: #282938;
  /* margin-bottom: 48px; */
}

.person .container .person-slider .person-slide .figure .author-info {
  display: flex;
  flex-direction: row;
  /* padding-top: 32px; */
}

.person
  .container
  .person-slider
  .person-slide
  .figure
  .author-info
  .author-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  color: rgba(40, 41, 56, 1);
}

.person .container .person-slider .person-slide .figure .author-info img {
  width: 80px;
  height: 80px;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
}

.slider-nav {
  display: flex;
  gap: 8px;
  padding-left: 300px;
  padding-top: 26px;
}

.nav-arrow {
  width: 48px;
  height: 48px;
  border: 1px solid #e5e5e5;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.nav-arrow:hover {
  background-color: #2405f2;
  color: white;
  border-color: #2405f2;
}

#questions {
  padding: 4rem 0;
}

#questions .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: start;
}

#questions details {
  background: #ffffff;
  padding: 18px 20px;
  border-radius: 8px;
  position: relative;
  border-bottom: 2px solid rgb(224, 224, 224);
}

#questions summary {
  list-style: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 600;
  color: #232323;
  font-size: 16px;
}

#questions summary::-webkit-details-marker {
  display: none;
}

#questions .number {
  display: flex;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  color: #ff6b42;
  background: #fff;
  font-weight: 700;
}

#questions .content {
  color: #6b6b6b;
  margin-top: 12px;
  padding-left: 52px;
  font-size: 15px;
  line-height: 1.6;
}

#questions summary::after {
  content: "+";
  margin-left: auto;
  color: #bfc9d6;
  font-weight: 700;
  font-size: 20px;
  transition: color 0.15s ease, transform 0.15s ease;
}

#questions details[open] summary::after {
  content: "\2212";
  color: #ff6b42;
}

#questions details + details {
  margin-top: 12px;
}

.questions .container h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  color: #282938;
}

.questions .container a {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  color: #2405f2;
  opacity: 0.87;
}

.join .container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.join .container .join-content {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.65)),
    url("./../../assets/bgjoin.png");
  background-color: rgb(29, 30, 84, 0.45);
  background-size: cover;
  background-position: center;
  padding: 5rem;
  color: #ffffff;
  width: 100%;
}

.join .container .join-content h2 {
  font-size: 54px;
  line-height: 74px;
  color: #ffffff;
  padding-right: 5rem;
}

.join .container .join-content p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #f4f6fc;
  padding-right: 4rem;
}

.join .container .join-form {
  background-color: rgba(28, 30, 83, 1);
  padding: 5rem;
}

.join .container .join-form h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
}

.join .container .join-form p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #f4f6fc;
  padding: 1rem 0;
}

.join .container .join-form .email-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.join .container .join-form .email-input #email {
  height: 64px;
  border: 1.5px solid;
  border-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  background-color: #1c1e53;
}

.join .container .join-form .email-input .submit-btn {
  display: inline-block;
  padding: 16px 56px;
  background: #fcd980;
  border-radius: 41px;
  color: #1b1c2b;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.3s ease;
  border: none;
}

.blog .container {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
#blog > div > div:nth-child(1) {
  padding: 2rem 0;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #282938;
  width: 100%;
}

.blog .container .post-cards {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  justify-content: start;
  /* flex-wrap: wrap; */
}

.blog .container .post-cards .post-card {
  display: flex;
  flex-direction: column;
  flex: 1 1 445px;
  flex-grow: 0;
}

.blog .container .post-cards .post-card .card-image-placeholder {
  height: 200px;
  background-color: #bfc9d6;
}

.blog .container .post-cards .post-card .card-content {
  display: flex;
  flex-direction: column;
  height: max-content;
}

.blog .container .post-cards .post-card .card-content .read-more-link {
  text-decoration: none;
  padding-bottom: 2rem;
}

.blog .container .post-cards .post-card .card-content .post-date {
  height: 40px;
  padding: 1rem 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
}

.blog .container .post-cards .post-card .card-content .post-title {
  height: 80px;
  text-overflow: clip;
  overflow: clip;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #282938;
}

.blog .container .post-cards .post-card .card-content .post-excerpt {
  height: 120px;
  text-overflow: clip;
  overflow: clip;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.7;
}

.blog .container .post-cards .post-card .card-content .post-title a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 24px;
  line-height: 8px;
}

#site-footer {
  background-color: #1c1e53;
}

.container-top .footer-container .footer-top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container-top .footer-container .footer-top-row .footer-brand {
  width: 400px;
}
.container-top .footer-container .footer-top-row .footer-brand h3 {
  color: var(--white);
}
.container-top .footer-container .footer-top-row .footer-brand p {
  color: var(--white);
}

.container-top .footer-container .footer-top-row .footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
}

.container-top .footer-container .footer-top-row .footer-links,
h4 {
  color: var(--white);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 118.5%;
}
.container-top .footer-container .footer-top-row .footer-links {
  display: flex;
}

.container-top
  .footer-container
  .footer-top-row
  .footer-links
  .footer-links-col
  ul {
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
.container-top
  .footer-container
  .footer-top-row
  .footer-links
  .footer-links-col {
  justify-content: center;
  align-items: center;
}
.footer-contact-box .contact-item span {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #282938;
}
.footer-contact-box .contact-item a,
strong {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.8;
}
.container-top
  .footer-container
  .footer-top-row
  .footer-links
  .footer-links-col
  ul
  a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 118.5%;
  color: rgba(255, 255, 255, 0.43);
}

.container-top .footer-container .footer-bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 32px;
}

.container-top .footer-container .footer-bottom-row .footer-contact-box {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 24px;
}

.container-top
  .footer-container
  .footer-bottom-row
  .footer-contact-box
  .contact-item {
  display: flex;
  flex-direction: column;
}

.container-bottom .footer-bottom .footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 1rem;
}

#site-footer
  > div.container
  > div
  > div
  > div.footer-bottom-row
  > div.footer-contact-box {
  background-color: #fcd980;
}
